#offscreen-nav ul{
    list-style-type: none;
    font-size: 2em;
    background: black;
    color:red;
}

.no-show-bar{
  width: 0;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: gray;
  transition: 0.5s;
  overflow-x: hidden;
}

.list{
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: white;
  display: block;
}


#close-btn{
float: right;
position: absolute;
top:0;
right:auto;

}

#more-info{
    color:red;
    font-size: 25pt;
    cursor: zoom-in;
}

#tool-tip{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background: white;
    width: 150px;
    height: 150px;
    border: 1px solid;
    box-shadow:  2px 2px 2px 2px;
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
}

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */
