body{
    background: #dddddd;
}

#offscreen-nav ul{
    list-style-type: none;
    font-size: 2em;
}

#offscreen-nav{
    background: #ec1414!important;
    position: absolute;
    top:0;
    left: 0;
 display:none;
   
}


#close-btn{
    float: right;

}

#more-info{
    color:red;
}

#tooltip{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 150px;
    height: 150px;
    border: 1px solid;
    box-shadow:  2px 2px 2px 2px;
    position: absolute;
    top:0;
    right:0;
    opacity: 0;
}


